.price-com {
    direction: rtl;
}

.dropdownlist span{
    cursor: pointer;
}
.dropdownlist span::after {
    content: "▸";
    font-size: 20px;
    color: rgb(0, 135, 9);
}

.dropdownlist span:hover::after {
    
    translate: rotate(45deg);
}

.dropdownlist li:hover {
    color: green;
}
.glass{
    background-color: #76b4c9;
    backdrop-filter:  blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius:20px;
    border:3px solid rgba(255, 255, 255, 0.098)

}